body {
  font-family: Roboto, Arial;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  display: flex;
  border: 1px solid blue;
  width: 800px;
  flex-wrap: wrap;
  margin: auto;
}

.pixel {
  /* width: 50px; commented out - size is set by javascript
  height: 50px; */
  border: 1px solid black;
  box-sizing: border-box;
}

button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 50px;
}

button:hover {
  background-color: gray;
  color: white;
  border-color: gray;
  cursor: pointer;
}

.rainbow-checkbox {
  color: rgb(29, 98, 202);
  border-color: rgb(29, 98, 202);
}

.rainbow-checkbox:hover {
  background-color: rgb(29, 98, 202);
  color: white;
  border-color: rgb(29, 98, 202);
}

.active-rainbow {
  background-color: rgb(29, 98, 202);
  color: white;
  border-color: rgb(29, 98, 202);
}
